body{
background: linear-gradient(-45deg, #f2eee3, #e78885, #fae0ba, #e77356, #e4af89, #f1cfa9);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
height: 100vh;
}

@keyframes gradient{
0%{
    background-position: 0% 50%;
}
50%{
    background-position: 100% 50%;
}
100%{
    background-position: 0% 50%;
}
}

h1{
text-align: center;
color: #e05d3c;
}